@import 'partials/_post';

body{
  margin: 0px;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}

#banner{
  background: white;
  padding-top: 5px;
}

#logo{
  content:url("../assets/logo.svg");
}

#nav{
  height: 100px;
}
@media only screen and (max-width: 484px){
  
  
}