.nav-button{
  background-color: transparent;
  width: 25%;
  height: 55px;
  font-family: 'Oswald';
  font-size: 20px;
  color: gray;
  text-align: center;
  border-bottom: none;
  border-left: none;
  border-top: none;
}

#random-button{
  border-right: none;
}